*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
p,
dl,
dd {
  margin: 0;
}

nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
}

iframe,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

[hidden] {
  display: none;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
